<div class="toolbar center" role="banner">
  <img width="40" alt="oracle" src="../assets/images/logo.PNG" />
  <span style="margin-left: 5px">{{ title }}</span>
</div>

<form #customerForm="ngForm">
  <div class="form">
    <div>
      <input
        class="col-xs-4 col-sm-12 col-md-12 input-name"
        type="text"
        [(ngModel)]="customerForm.value.input"
        name="input"
        placeholder="Name"
      />
    </div>
    <div>
      <button class="add-button" (click)="addCustomer(customerForm)">
        Add Customer
      </button>
    </div>
  </div>
  <div>
    <ul
      style="list-style-type: disc"
      data-test-id="customer-list"
      *ngIf="customers.length > 0"
    >
      <li *ngFor="let input of customers">{{ input }}</li>
    </ul>
  </div>
</form>
